<h1>Admin dashboard</h1>
<hr>
<%= link_to quizzes_path do %>
  <button class="button">Quizzes</button>
<% end %>
<%= link_to results_quizzes_path do %>
  <button class="button">Results</button>
<% end %>