<h1>Personality Quizzes App</h1>

<p>Take one of our quizzes!!</p>

<% @quizzes.all.each do |quiz| %>
  <%= link_to quiz.name, take_test_path(quiz.id) %>
  <p><%= quiz.description%></p>
  <hr>
<% end %>